body {
	width: 100%;
	position: relative;
}

#main-page .container {
	width: 75%;
	/*max-width: 1200px;*/
	margin: 0 auto;
	position: relative;
}

header {
	/*position: absolute;*/
	z-index: 200;
	height: 600px;
	background: url(../img/bg/bg-top-header.png) no-repeat right top ,
				url(../img/bg/bg-header.png) no-repeat center center;
}

#main-page .top-header {
	background: rgba(0,51,51, .5);
}

#main-page .top-header__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

#main-page .top-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 50%;
	margin: 45px 0 70px 10px;
	padding: 0;
	list-style: none;
}

#main-page .top-menu li {
	padding: 0;
	margin-right: 10%;
}

#main-page .top-menu li:last-child {
	margin-right: 0;
}

#main-page .top-menu li a {
	font: 700 1.1em 'Calibri', sans-serif;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
}

#main-page .top-menu li a:hover {
	color: #446939;
}

#main-page .top-header__btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 50%;
	height: 85px;
}

#main-page .top-header__btn a {
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: rgba(102, 153, 51, .5);
	font: 700 1.1em 'Calibri', sans-serif;
	border: 2px solid #fff;
	border-radius: 35px;
	text-align: center;
	margin-top: 22px;
	margin-left: 48%;
	padding: 19px 0;
	width: 59%;
}

.top-content {
	position: relative;
	background: url(../img/bg/bg-top-content.png) no-repeat center center;
	z-index: 0;
	margin: 0;
	padding: 0;
}

.top-content ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.top-content ul li {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 27%;
}


.top-content ul li picture {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}


.top-content ul li img {
	width: 200%;
}